body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

form {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #f5f5f5;
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  flex-basis: 100%;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

table {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 50px;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background-color: #f5f5f5;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

th {
  background-color: #4CAF50;
  color: white;
}

.volver {
    margin: 50px 0 25px 10px;
  }

  .volver a {
    text-decoration:none;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .volver button:hover {
    background-color: #3E8E41;
  }

  table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .imagen-producto {
    max-width: 200px;
    /* max-height: 100px; */
    display: block;
  }

  .producto {
    display: flex;
    align-items: center;
  }

  .info-producto {
    margin-left: 20px;
  }

  /* Ajusta el ancho de las columnas */
  .imagen-columna {
    width: 30%;
  }

  .info-columna {
    width: 70%;
  }